// BOTONES--------------------------------------------------------------------------------------------------
main{
    button{
        border-style: none;
        border-radius: 0.3rem;
        background-color: map-get($map: $colores, $key: 'verde');
        height: 2rem;
        padding: 0rem 0.5rem;
        margin-bottom: 1rem;
        transition: 1s;
        transition-timing-function: ease;
    }
    button:hover{
        background-color: map-get($map: $colores, $key: 'rosa')
    }
}