//FOOTER---------------------------------------------------------------------------------------------
footer{
    grid-area: footer;
    @include flex (center, flex-start, wrap);
    background: map-get($map: $colores, $key: 'degradado');
    margin-top: 1rem;
    padding: 0.5rem;
    position: relative;
    div{
        h4{
            text-align: center;
        }
        li{
            text-align: left;
        }
    }
    p{
        position: absolute;
        bottom: 0;
        margin: 0.2rem;
    }
}