//FOOTER---------------------------------------------------------------------------------------------
footer{
    grid-area: footer;
    @include flex (center, flex-start, wrap);
    background: map-get($map: $colores, $key: 'verde2');
    margin-top: 1rem;
    padding: 0.5rem;
    position: relative;
    div{
        h4{
            text-align: center;
        }
        li{
            text-align: left;
            color: rgb(76, 99, 36);
            a{
                color: rgb(36, 58, 99);
            }
        }
    }
    p{
        position: absolute;
        color: black;
        bottom: 0;
        margin: 0.2rem;
    }
}