//FOOTER---------------------------------------------------------------------------------------------
#footer{
    grid-area: footer;
    background: map-get($map: $colores, $key: 'degradado');
    margin-top: 1rem;
    padding: 0.5rem;
    div{
        display: inline-block;
        li{
            text-align: left;
            h4{
                text-align: left;
                font-size: 1.2rem;
            }
            a{
                text-decoration: none;
            }
        }
    }
}