// HEADER---------------------------------------------------------------------------------------------
header{
    grid-area: header;
    background: map-get($map: $colores, $key: 'degradado');
}

// NAVBAR---------------------------------------------------------------------------------------------
nav{
    grid-area: nav;
    @include flex (space-evenly, center, wrap);
    background-color: white;
    padding: 0.5rem 0rem;
}