// HEADER---------------------------------------------------------------------------------------------
header{
    grid-area: header;
    background: map-get($map: $colores, $key: 'degradado');
    div{
        .buscador{
            border-style: none;
            width: 10rem;
        }
        .logoDesktop{
            width: 15rem;
        }
    }
}

// NAVBAR---------------------------------------------------------------------------------------------
nav{
    grid-area: nav;
    @include flex (center, center, wrap);
    background: map-get($map: $colores, $key: 'degradado');
    margin: 1rem;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    input{
        border-style: none;
    }    
}