// HEADER---------------------------------------------------------------------------------------------
header{
    grid-area: header;
    background: map-get($map: $colores, $key: 'degradado');
    div{
        .buscador{
            border-style: none;
            width: 10rem;
        }
        .logoDesktop{
            width: 15rem;
        }
    }
}

// NAVBAR---------------------------------------------------------------------------------------------
nav{
    grid-area: nav;
    background: map-get($map: $colores, $key: 'degradado');
    margin-bottom: 1rem;
    div{
        .logoBuscadorMobile{
            @include flex (space-between, center, nowrap);
        }
        a{
            img{
                width: 5rem;
            }
        }
        input{
            border-style: none;
            width: 10rem;
            margin: 2rem;
        }
    }
    
}