// HEADER---------------------------------------------------------------------------------------------
header{
    grid-area: header;
    background: map-get($map: $colores, $key: 'degradado');
}

// NAVBAR---------------------------------------------------------------------------------------------
nav{
    grid-area: nav;
    @include flex (space-evenly, center, wrap);
    background-color: map-get($map: $colores, $key: 'rosa2');
    padding: 0.5rem 0rem;
}

// MAIN---------------------------------------------------------------------------------------------
main{
    grid-area: main;
    border-radius: 0.2rem;
    grid-auto-columns: auto;
    // PANTALLA INDEX Y PRODUCTOS ------------------------------------------------------------------------
    section{
        @include flex (center,  flex-start, wrap);
        article{
            background-color: white;
            box-shadow: map-get($map: $colores, $key: 'sombra');
            border-radius: 0.5rem;
            margin: 0.5rem;
            img{
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;
            }
        }
    }
    button{
        background-color: map-get($map: $colores, $key: 'verde2');
        color: white;
        height: 2rem;
        border-style: none;
        border-radius: 0.3rem;
        padding: 0rem 0.5rem;
        margin-bottom: 0.5rem;
        transition: 1s;
        transition-timing-function: ease-out;
    }
    button:hover{
        background-color: map-get($map: $colores, $key: 'rosa');
    }
    table{
        @include flex (center, center, wrap);
        th{
            background-color: map-get($map: $colores, $key: 'rosa2');
        }
        tr:nth-child(even) {
            background-color: map-get($map: $colores, $key: 'rosa');
        }
    }
    ol{
        li{
            list-style: decimal;
            text-align: left;
        }
    }
    ul{
        li{
            svg{
                color: map-get($map: $colores, $key: 'rosa');
            }
        }
    }
    label{
        display: block;
    }
    input{
        height: 2rem;
        width: 80%;
        margin: 0.5rem;
        border-color: map-get($map: $colores, $key: 'rosa');
        border-style: solid;
    }
    textarea{
        height: 6rem;
        width: 80%;
        border-color: map-get($map: $colores, $key: 'rosa');
        border-style: solid;
    }
    input[type="submit"]{
        @extend button;
        width: 6rem;
    }
    iframe{
        @extend input;
        height: 50%;
        width: 80%;
    }
}

main a:link{
    text-decoration: underline;
}

//ASIDE-------------------------------------------------------------------------------
aside{
    grid-area: aside;
    width: 85%;
    height: 15%;
    background-color: rgba(236, 145, 162, 0.514);
    border-radius: 0.5rem;
    @include flex (center, flex-start, wrap);
    li{
        text-align: left;
        position: relative; top: 4rem; right: 1rem;
    }
}

//FOOTER---------------------------------------------------------------------------------------------
footer{
    grid-area: footer;
    background: map-get($map: $colores, $key: 'verde2');
    margin-top: 1rem;
    padding: 0.5rem;
    position: relative;
    color: rgb(45, 61, 18);
}