// TIPOGRAFIA -----------------------------------------------------------------------
@mixin tipografia ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

h1{
    @include tipografia(2.2rem, 700);
    margin: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    color: map-get($map: $colores, $key: 'verde')
}

h2{
    @include tipografia (1.5rem, 600);
    font-family: 'Quicksand', sans-serif;
    color: map-get($map: $colores, $key: 'verde2')
}

h3{
    @include tipografia(1.2rem, 600);
    font-family: 'Quicksand', sans-serif;
    color: map-get($map: $colores, $key: 'naranja')
}

h4{
    @include tipografia(1rem, 600);
    font-family: 'Quicksand', sans-serif;
}

li{
    a{
        text-decoration: none;
    }
    a:hover{
        background-color: map-get($map: $colores, $key: 'rosa2');
        border-radius: 0.25rem;
    }
}

p, b, li, td, label{
    color: grey;
}