// TIPOGRAFIA -----------------------------------------------------------------------
h1{
    font-weight: 600;
    background-image:linear-gradient(to right, #16d6d9, #96cc29); 
    color:rgba(0, 0, 0, 0); 
    -webkit-background-clip:text; 
    background-clip:text; position:relative;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}

li{
    a{
        text-decoration: none;
    }
    a:hover{
        background-color: map-get($map: $colores, $key: 'rosa2');
        border-radius: 0.25rem;
    }
}