//colores
$verde:rgb(157, 213, 79);
$rosa: rgb(255, 195, 206);
$degradado: linear-gradient(to right, rgb(187, 255, 93), rgb(255, 195, 206));

@mixin flex ($justify, $align, $wrap) {
    display: inline-flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
};