// STYLE ----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Quicksand&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    text-align: center;
    list-style: none;
    border-style: none;
    color: white;
}

body{
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(187, 255, 93), rgb(255, 195, 206));
    animation: transitionBody 1s;
}

@keyframes transitionBody {
    from{
        opacity: 0;
        transform: rotateY(-15deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
}

a{
    text-decoration: none;
    color: rgb(95, 131, 211);
}

a{
    svg{
        color: white;
    }
}

@import "variables";
@import "tipografia";
@import "headerNav";
@import "main";
@import "footer";
@import "mediaqueries";